@charset "UTF-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	overflow-y: scroll;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
 input, textarea, {
 margin: 0;
 padding: 0;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
caption, th {
	text-align: left;
}
a:focus {
	outline: none;
}
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
.clearfix {
	min-height: 1px;
}
* html .clearfix {
	height: 1px;/*¥*//*/
    height: auto;
    overflow: hidden;
    /**/
}
.both {
	clear: both;
}
/*共通ここから
 ******************************************************/
body {
	font-size: 12px;
	color: #000;
	font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}
div#nav_outer {
	width: 100%;
	background-color: #2357e0;
}
div#nav {
	overflow: hidden;
	height: 90px;
	width: 800px;
	margin: 0 auto;
	font-size: 16px;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
h1 {
	float: left;
	width: 172px;
	height: 90px;
	margin-top: 22px;
}
div#nav ul {
	float: left;
	color: #fff;
	margin-top: 35px;
}
div#nav ul li {
	list-style: none;
	display: inline;
	font-size: 14px;
	margin-left: 53px;
}
div#content {
	width: 800px;
	margin: 0 auto;
	overflow: hidden;
	margin-bottom: 70px;
}
li.current {
	color: #000;
}
/*footer*/
div#footer_outer {
	width: 100%;
	height: 78px;
	background: url(../images/footer_bg.gif) repeat-x;
}
div#footer {
	overflow: hidden;
	position: relative;
	height: 78px;
	margin-top: 50px;
	font-weight: lighter;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	width: 800px;
	margin: 0 auto;
}
div#footer div.footer1 ul li {
	list-style: none;
	display: inline;
	border-right: solid #000 1px;
	padding-right: 5px;
	font-size: 13px;
}
div.footer1 {
	float: left;
	margin: 45px 0 0 0;
}
div#footer div.footer1 ul li.blog {
	border-right-style: none;
}
div.footer2 {
	float: right;
	margin: 45px 13px 0 0;
	display: inline;
	font-size: 13px;
}
div#footer div.footer2 ul li {
	float: left;
	margin-right: 40px;
}
div#footer div.footer2 ul li:last-child {
	margin-right: 0;
}
div#footer address {
	position: absolute;
	bottom: 0px;
	font-size: 10px;
}
p.pagetop {
	position: absolute;
	right: 0;
}
div#footer li.current {
	color: #fff;
}
/*リンク*/
a {
	text-decoration: none;
}
a.nav {
	color: #fff;
}
a.nav:visited {
	color: #fff;
}
a.nav:hover {
	color: #000;
}
a.footer {
	color: #000;
}
a.footer:visited {
	color: #000;
}
a.footer:hover {
	color: #fff;
}
/*****content*****/
div#title {
	height: 40px;
	border-left: solid 3px #2357e0;
	padding: 0 10px;
	margin: 50px 25px;
	overflow: hidden;
	position: relative;
}
div#title div.title_left {
	float: left;
	width: 70px;
}
div#title div.title_right {
	float: right;
	width: 75px;
	margin: 30px 15px 0 100px;
}
/*共通ここまで
 ******************************************************/


 /*style.cssここから
 ******************************************************/


div#content p.main {
	margin: 50px 0;
}
h2 {
	float: left;
}
/*news*/

div#news {
	float: left;
	width: 268px;
}
div.news_title {
	border-bottom: solid 2px #2357e0;
	overflow: hidden;
	height: 30px;
	margin-bottom: 50px;
}
div.ichiran_btn {
	width: 50px;
	overflow: hidden;
	float: right;
	padding: 0;
	height: 15px;
	margin-top: 16px;
}
p.ichiran {
	font-size: 10px;
	float: left;
}
p.btn {
	float: right;
	width: 14px;
}
div.ichiran_btn_styling, div.ichiran_btn_blog {
	width: 50px;
	overflow: hidden;
	float: right;
	padding: 0;
	margin-top: 25px;
}
div.news {
	overflow: hidden;
	width: 268px;
	margin-bottom: 25px;
}
p.news_img {
	width: 90px;
	float: left;
}
div.text {
	width: 130px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
}
div.text p.text1 {
	font-size: 12px;
	color: #000;
	margin-bottom: 5px;
}
div.text p.text_title {
	font-size: 12px;
	color: #2357e0;
	margin-bottom: 5px;
}
div.text p.text_main {
	font-size: 10px;
	color: #2357e0;
}
/*newitem*/
div#newitem {
	float: right;
	width: 483px;
	overflow: hidden;
}
div.newitem_title {
	border-bottom: solid 2px #2357e0;
	overflow: hidden;
	margin-bottom: 50px;
}
div.newitem {
	width: 96px;
	float: left;
	margin-left: 20px;
}
/*styling*/
div#styling {
	float: right;
	width: 483px;
	overflow: hidden;
	margin: 0;
}
div.styling_title {
	border-bottom: solid 2px #2357e0;
	overflow: hidden;
	margin-bottom: 50px;
	margin-top: 50px;
}
div.styling {
	width: 96px;
	float: left;
	margin-left: 20px;
}
/*blog*/
div#blog {
	float: right;
	width: 483px;
	overflow: hidden;
	margin: 0;
}
div.blog_title {
	border-bottom: solid 2px #2357e0;
	overflow: hidden;
	margin-top: 50px;
}
div.blog1 {
	width: 220px;
	float: left;
	overflow: hidden;
	margin: 50px 5px 50px 10px;
}
div.blog2 {
	width: 220px;
	float: right;
	overflow: hidden;
	margin: 50px 10px 50px 5px;
}
div.blog1 div.blog1_text p.text1, div.blog2 div.blog2_text p.text1 {
	font-size: 12px;
	color: #000;
	margin-bottom: 5px;
}
div.blog1 div.blog1_text p.text_title, div.blog2 div.blog2_text p.text_title {
	font-size: 12px;
	color: #2357e0;
	margin-bottom: 5px;
}
p.blog1_img {
	width: 88px;
	float: left;
}
div.blog1_text {
	width: 100px;
	float: right;
	margin: 5px 0 5px 30px;
}
p.blog2_img {
	width: 88px;
	float: left;
}
div.blog2_text {
	width: 100px;
	float: right;
	margin: 5px 0 5px 30px;
}
/*style.cssここまで
 ******************************************************/
 

 
 /*style_news.cssここから
 ******************************************************/ 

div.newsstyle h2 {
	margin-top: 3px;
}
div.newsstyle div#title div.title_right {
	width: 100px;
}
div.news1 {
	float: left;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
}
div.news1 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news1 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news2 {
	float: right;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
}
div.news2 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news2 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news3 {
	float: left;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
	margin: 50px 0 0 0;
}
div.news3 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news3 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news4 {
	float: right;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
	margin: 50px 0 0 0;
}
div.news4 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news4 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news5 {
	float: left;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
	margin: 50px 0 0 0;
}
div.news5 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news5 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news6 {
	float: right;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
	margin: 50px 0 0 0;
}
div.news6 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news6 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news7 {
	float: left;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
	margin: 50px 0 0 0;
}
div.news7 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news7 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
div.news8 {
	float: right;
	width: 380px;
	padding: 0 10px;
	overflow: hidden;
	margin: 50px 0 0 0;
}
div.news8 div.left {
	float: left;
	width: 155px;
	margin: 0 20px;
}
div.news8 div.right {
	float: right;
	width: 180px;
	padding-top: 10px;
}
p.content {
	color: #2357e0;
}
p.content_title {
	color: #2357e0;
	margin-bottom: 10px;
}
p.date {
	margin-bottom: 10px;
}
/*style_news.cssここまで
 ******************************************************/ 
 
 
 /*style_concept.cssここから
 ******************************************************/ 
 
/*****content*****/
div.conceptstyle div#title {
	height: 46px;
}
div.conceptstyle h2 {
	margin-top: 8px;
}
div.conceptstyle div#title div.title_right {
	width: 63px;
}
div#main_text {
	line-height: 20px;
	margin: 0 25px 50px;
	padding: 0 20px;
}
h3 {
	margin: 0 25px;
	padding: 50px 20px 0px;
	background: url(../images/border.gif) repeat-x;
}
div.concept1, div.concept2, div.concept3/*,div.concept4*/ {
	overflow: hidden;
	padding: 50px 0 50px;
}
div.left_photo {
	float: left;
	width: 290px;
	margin-left: 90px;
}
div.right_text {
	float: right;
	width: 295px;
	margin-right: 60px;
}
p.text {
	line-height: 20px;
	margin-left: 100px;
}
div.left_text {
	float: left;
	width: 330px;
	margin-left: 25px;
}
p.left_text2 {
	padding-left: 10px;
}
div.right_photo {
	float: right;
	width: 400px;
	margin-right: 5px;
}
div.left_photo3 {
	width: 401px;
	margin: 0 10px 0;
}
div.concept4 {
	position: relative;
	height: 550px;
}
div.right_photo4 {
	width: 541px;
	position: absolute;
	top: 0;
	right: 5px;
	z-index: 0;
	margin-top: 50px;
}
div.left_text4 {
	position: absolute;
	top: 0;
	left: 25px;
	z-index: 1;
	width: 303px;
	margin-top: 50px;
}
p.text4 {
	line-height: 20px;
	margin-left: 120px;
}
/*style_concept.cssここまで
 ******************************************************/



 /*style_item.cssここから
 ******************************************************/ 

/*****content*****/
div.itemstyle h2 {
	margin-top: 3px;
}
div.item {
	background: url(../images/item_bg_new.gif) no-repeat;
	margin-left: 20px;
}
div.item_nav {
	float: left;
	width: 155px;
	height: 1150px;
	font-size: 16px;
	margin-left: 20px;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.item_nav ul li {
	margin: 0 0 1px 5px;
	text-align: center;
	height: 57px;
}
.item_nav ul li a {
	padding-top: 20px;
	display: block;
}
div.new, div.outer {
	padding: 20px 0;
	text-align: center;
	margin: 0;
}
div.tops, div.bottom, div.goods {
	padding: 15px 0;
	text-align: center;
	margin: 0;
}
div#item1 {
	float: left;
	overflow: hidden;
	height: 320px;
}
div.item1 {
	float: left;
	width: 140px;
	padding: 40px 20px 20px 60px;
	margin: 0;
}
div.item2 {
	float: left;
	width: 140px;
	padding: 40px 20px 20px 20px;
	margin: 0;
}
div.item3 {
	float: left;
	width: 140px;
	padding: 40px 50px 20px 20px;
	margin: 0;
}
div.item4, div.item7 {
	float: left;
	width: 140px;
	padding: 0 20px 20px 60px;
	margin: 0;
}
div.item5, div.item8 {
	float: left;
	width: 140px;
	padding: 0 20px 20px 20px;
	margin: 0;
}
div.item6, div.item9 {
	float: left;
	width: 140px;
	padding: 0 50px 20px 20px;
	margin: 0;
}
div#item1 p, div#item2 p, div#item3 p {
	text-align: center;
	margin: 20px 0 0 0;
}
div#item2, div#item3 {
	float: left;
	overflow: hidden;
	width: 610px;
}
div.item_nav a:link {
	color: #000;
}
div.item_nav a:hover {
	color: #2357e0;
}
div.item_nav a:visited {
	color: #000;
}
/*style_item.cssここまで
 ******************************************************/



 /*style_styling.cssここから
 ******************************************************/ 
 
/*****title*****/
div#title {
	height: 45px;
}
/*****content*****/
div.styling_photo {
	margin: 0;
}
div#styling1, div#styling3 {
	margin: 0;
	overflow: hidden;
}
div#styling2 {
	margin: 50px 0;
	overflow: hidden;
}
div.styling1 {
	float: left;
	width: 163px;
	margin: 0 25px 0 35px;
}
div.styling2, div.styling3 {
	float: left;
	width: 163px;
	margin: 0 25px 0 0;
}
div.styling4 {
	float: right;
	width: 163px;
	margin: 0 35px 0 0;
}
div.styling_text {
	text-align: center;
	line-height: 20px;
	margin: 10px 0 0 0;
}
/*style_styling.cssここまで
 ******************************************************/


 /*style_contact.cssここから
 ******************************************************/ 
/*****title*****/

div.contactstyle div#title div.title_left h2 {
	margin-top: 7px;
}

/*****content*****/
#text {
	margin: 50px 0 50px 40px;
}
.text2 {
	margin: 30px 0 50px 0;
}
div.name, div.mail, div.contact {
	overflow: hidden;
	width: 800px;
}
div.formparts {
	width: 860px;
	margin-left: 20px;
	overflow: hidden;
}
div.name {
	padding-top: 50px;
	background: url(../images/border.gif) 0 0 repeat-x;
	height: 100px;
}
div.mail {
	height: 100px;
}
div.contact {
	height: 200px;
}
.formparts .left {
	float: left;
	width: 123px;
	margin-left: 20px;
}
.formparts .right {
	float: left;
	width: 600px;
}
.contactstyle p.btn {
	width: 130px;
	margin: 0 507px 0 0;
}
div.phone {
	background: url(../images/border.gif) repeat-x top;
	padding-left: 40px;
	margin-top: 70px;
}
p.phone_text {
	padding: 50px 0;
}
p.phone_number {
	font-size: 24px;
}
img.img {
	padding-right: 20px;
}
/*style_contact.cssここまで
 ******************************************************/
 
 /*style_access.cssここから
 ******************************************************/
/*****title*****/
div.accessstyle div#title div.title_left h2 {
	margin-top: 5px;
	background-color: red;
}
div.accessstyle div#title div.title_right {
	width: 50px;
}
/*****content*****/
div#access_photo {
	margin: 50px 20px;
	overflow: hidden;
}
img.photo1 {
	float: left;
	width: 543px;
}
img.photo2 {
	float: right;
	width: 199px;
}
img.photo3 {
	float: right;
	width: 199px;
	padding-top: 20px;
}
p.access_text {
	clear: both;
	padding: 100px 20px;
}
img.map {
	float: right;
	width: 570px;
	padding-bottom: 100px;
}


 
 /*style_access.cssここまで
 ******************************************************/
