/*reset css
*******************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
/* remember to define focus styles! */
:focus {
	outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
 
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {zoom:1;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}





/*main start
*******************************************************/
@import url(http://fonts.googleapis.com/css?family=Niconne|Petit+Formal+Script);

body{
	font-family: "qMmpS Pro W3","Hiragino Kaku Gothic Pro","CI","Meiryo",verdana,Osaka,"lr oSVbN","MS PGothic",Sans-Serif;
    font-size:15px;
	background: #434343; /* Old browsers */
	background: -moz-linear-gradient(top,  #434343 0%, #222222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#222222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #434343 0%,#222222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #434343 0%,#222222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #434343 0%,#222222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #434343 0%,#222222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#434343', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}





#wrap{
	margin:0 auto;
	width:950px;
	background:url(../images/bg02.jpg) 0 0 no-repeat #141414;

	}

#header{
	width:950px;
	height:95px;
	background-color: rgba(255,255,255,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff)";
	margin-bottom:15px; 
	font-size:12px;   
}


#header h1{
	margin:0 0 0 15px;
	padding-top:5px;
}
#header_logobox{
	float:left;
}

#header_box01{
	float:left;
	margin-left:15px;
	height:95px;
	width:490px;
}
#header_box02{
	margin-left:15px;
	float:left;
}

#left{
	width:220px;
	float:left;
}

ul.nav {
	list-style:none; 
	margin:30px; 
	width:190px; 
	font-size:24px;
	font-family: 'Niconne', cursive;
	
}
ul.nav li {
	position:relative; 
	display:block; 
	height:60px; 
	overflow:hidden;
}
ul.nav li a {
	position:relative; 
	color:#fff; 
	text-decoration:none; 
	display:block; 
	padding:0 0 0 10px;
	margin:10px 0 0 10px;
	z-index:100;
　}
/*
ul.nav li a:hover{
	color:#0cf;
}
*/
.nav_text{
	font-size:32px;
	margin-right:3px;
}

#main{
	width:675px;
	margin-left:15px;
	float:left;
	background-color: rgba(0,0,0,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80000000,endColorstr=#80000000)";
	color:#FFF;
	border-radius:6px;
	font-size:13px;
}

#main h2{
	margin:0 30px 0px 30px;
	padding:5px 0px 5px 5px;
	line-height:1.5em;
	border-left:5px solid #0CF;
	font-size:15px;
	float:left;
	width:555px;
}
#main h3{
	margin:15px 0 0 0px;
	padding-bottom:5px;
	border-bottom:1px dotted #333;
	line-height:1.5em;
	float:left;
	width:600px;
}

#main h4{
	margin:5px 0;
	height:1.1em;
	float:left;
}

#main #box01{
	
	margin-top:40px;
	
}
.text01{
	padding:20px 0 30px 60px;
	line-height:1.4em;
	width:555px;
	float:left;
	
}

.text01 dl dt{
	float:left;
	width:125px;
	font-size:11px;
	color:#CCC;
}
.text01 dl dd{
	float:left;
	width:430px;
}

div#likebox_conteiner{
	width:555px;
	margin:10px 60px 15px 60px;
	background-color:#eee;
	float:left;
}

div#likebox_conteiner .name_block a{
	color:#fff;
}


#footer{
	width:950px;
	height:170px;
	margin-top:15px;
	float:left;
	clear:both;
	background-color: rgba(255,255,255,0.8);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#80ffffff,endColorstr=#80ffffff)";
	font-size:12px;  
}
#footer h4{
	margin:7px 0 7px 15px;
	font-size:15px;	
}

#footer_box01{
	margin-left:20px;
	float:left;
}
#footer_box02{
	margin-left:15px;
	float:left;
}
#footer address{
	width:950px;
	margin:15px 0 0 0;
	text-align:center;
	float:left;
}

#page-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 77%;
}
#page-top a {
	background: #666;
	text-decoration: none;
	color: #fff;
	width: 100px;
	padding: 30px 0;
	text-align: center;
	display: block;
	border-radius: 5px;
}
#page-top a:hover {
	text-decoration: none;
	background: #999;
}




/*main start
*******************************************************/

#main .box_inner{
	width:600px;
	margin:0 auto;
	overflow:hidden;
}

.main_img{
	margin:10px 0 5px 0;
}


.menu_box{
	margin:5px 0;
	width:600px;
	clear:both;
	float:left;
	line-height:1.4em;
	}
.menu_p{
	width:600px;
	float:left;
}
.menu_name{
	float:left;
	width:500px;
	}
.menu_price{
	float:left;
	width:100px;
	font-size:12px;
	}
.menu_caption{
	float:left;
	width:600px;
	font-size:12px;
	}

#box02{
	margin-top:40px;
}

#box02 .menu_name{
	float:left;
	width:450px;
	}
#box02 .bottle{
	float:left;
	width:100px;
	height:1em;
	font-size:12px;
}
#box02 .menu_price{
	float:left;
	width:50px;
	font-size:12px;
	}



/*photo
*******************************************************/

div.pw-photo {

}
div.pw-line {
    float:left;
    overflow:hidden;
}
div.pw-crop {
    position: relative;
    overflow: hidden;
}
div.pw-photo a {
	text-decoration: none;
	outline: none;
	border: none;
}
div.pw-photo img {
	background:white;
	border:none;
	outline: none;
	zoom: 1;
}
.pw-photo-hover {
	box-shadow: 		1px 1px 5px #333;			
	-webkit-box-shadow:	1px 1px 5px #333;
	-moz-box-shadow:	1px 1px 5px #333;
}
img.pw-photo-zoomed {
	position: absolute;
	z-index: 100;
	background: white;
	box-shadow: 		1px 1px 5px #333;			
	-webkit-box-shadow:	1px 1px 5px #333;
	-moz-box-shadow:	1px 1px 5px #333;
}


#showbox {
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    background:#000;
    z-index: 1001;
    overflow:hidden;
}
.unselect {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#showbox-exit {
    width:16px;
    height:16px;
    background: url(../images/exit.gif);
    position:absolute;
    right:10px;
    top:10px;
    z-index: 1002;
    cursor:pointer;
}
#showbox-loader {
    position: absolute;
    top: 50%;
    left:50%;
    width: 16px;
    height: 16px;
    background: #000 url(../images/loader.gif);
    margin:-80px 0 0 -8px;
}
#showbox .showbox-image {
    position:relative;
}
#showbox .showbox-image img {
    cursor:pointer;
}
#showbox .showbox-menubar {
    text-align: center;
    width: 100%;
    font-family: Arial,Tahoma,Serif;
    color: #919191;
    height: 35px;
    position: relative;
}
#showbox .showbox-preview {
    border-top:1px solid #181818;
    background: #0A0A0A;
    position:fixed;
    height: 80px;
    width:100%;
    bottom:-75px;
    left:0px;
    padding: 5px 0 15px 0 ;
    overflow:hidden;
}
#showbox .showbox-pv-lock {
    width:13px;
    height:9px;
    background: url(../images/lock.gif);
    position:absolute;
    right:10px;
    top:10px;
    display:none;
}
#showbox .showbox-th-counter {
    text-align:center;
    color: #919191;
    font-family: Arial,Tahoma,Serif;
    font-size:12px;
    height: 15px;
    margin-bottom: 5px;
}
.showbox-th-container {
    position:relative;
    width: 90000px;
}
.showbox-th {
    position: relative;
    width:58px;
    height:58px;
    overflow:hidden;
    float:left;
    margin: 2px;
    cursor:pointer;
    border: 1px transparent solid;
}
#showbox .showbox-th img{
    position: relative;
}
#showbox .showbox-th-active {
    border: 1px #e5e5e5 solid;
    cursor:default !important;
}
/* clearfix ----------------------------------------------------------------- */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } 


/*access
*******************************************************/
#box01 #address_box{
	float:left;
	width:600px;
	margin:20px 0;
	line-height:1.3em;
}
#box01 .left01{
	float:left;
	margin-left:30px;
	width:150px;
}
#box01 .right01{
	float:left;
	width:300px;
}