@charset "UTF-8";
/* CSS Document */

/*reset css
*******************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
 
/* remember to define focus styles! */
:focus {
	outline: 0;
}
 
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
 
/* tables still need 'cellspacing=&quot;0&quot;' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix {zoom:1;}
.clearfix:after {
  content: ""; 
  display: block; 
  clear: both;
}




body{font-size:80%; color:#4c4c4c;  line-height:1.7; background:#fff;
font-family:Verdana, "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Osaka, sans-serif;}

a{color:#666; text-decoration:none; overflow:hidden;}
a:visited{color:#ff6666;}
a:hover{color:#ff9900;}
a:hover img{opacity:0.8; filter:alpha(opacity=80);}

.btm{clear:both; height:0; font-size:0; line-height:0;}
.hide{font-size:1px; visibility:hidden;}

/*blog*/
#blog_body{background:#f3f3ee;}



/*contact*/
#win{background:#fff;}
#pp{height:120px; overflow:auto; padding:12px 10px 12px 15px; border:1px solid #ccc;}

.length1 { width:200px;}
.length2 { width:300px;}
.submit{float:right;}

#pp h3 { margin-bottom:8px; }
#contact { padding:15px;}
#contact dl { text-align:left; margin-bottom:10px;}
#contact dt, #contact dd { font-size:12px;}
#contact dt { margin-top:5px 0; padding:0;}
#contact dd { padding-bottom:10px; background:url(../images/dotline.gif) repeat-x bottom; }

#pp ul { margin:5px 0;}
#pp li { float:none; list-style-type:circle; margin:0 20px;}

textarea, input{padding:3px;}

#contact li.left { padding-right:10px; width:250px; text-align:center;}
#contact li.left p { padding:0 35px 10px 25px; text-align:left; font-size:12px;}
#contact li.right { width:200px; _width:180px; text-align:center; padding-top:0px;}
#contact li.right img { margin-bottom:5px;}
#contact li.right p { margin-bottom:20px;}

#contact th,contact td { text-align:left; font-weight:normal;}
#contact th { padding:6px 0px 6px 10px; white-space:nowrap; background:url(../images/dotline.gif) repeat-x bottom;}
#contact td { padding:6px 10px 6px 10px; background:url(../images/dotline.gif) repeat-x bottom;}
#contact th.noborder,{ border-top:none; padding-top:0;}
#contact h3{margin-right:20px;
	font-size:12px;}


/*top*/
#wrap{width:960px; margin:0 auto;}
#header{height:135px; margin-left:30px;}
#nav_logo{ float:left; margin-top:27px;}
#nav ul{ float:left;height:25px; margin-top:80px;}
#nav ul li{ float:left; margin-left:35px;}
#nav ul li:first-child{ margin-left:24px;}
#header_blog{float:right; margin:17px 25px 0 0;}

#topimg{clear:both; margin-left:30px;}

#foot{ margin-left:30px; height:45px;}
.foot_item{ margin-top:19px; float:left; margin-left:286px;}
.foot_item:first-child{ margin-left:0px;}

/*second*/
#contents{
	width:960px;
	text-align:center;
}

/*shop*/
#shop{
	height:480px;
}
#shop .shopl{
	width:320px;
	margin:50px 0 0 112px;
	float:left;
	}
#shop .shopr{
	margin:40px 0 0 80px;
	text-align:left;
	float:left;
	}
#shop h3{
	text-align:left;
}

#shopopen02{
	margin:33px 0 37px 0;
}
#shopopen03{
	margin:1px 0 22px 0;
	font-size:11px;
}


/*shopping*/
#shopping{
	margin-left:5px;
}
#shopheader{
	height:55px;
	width:905px;
	margin-left:27px;
	border-top:1px solid #666;
}
#pankuzu{
	margin-top:10px;
	font-size:12px;
	
}
#pankuzu li{
	float:left;
	margin-right:15px;
}

#shopping_menu{
	float:right;
	font-size:10px;
}
#shopping_menu li{
	float:left;
}

#shopfooter{
	width:905px;
	padding-top:40px;
	margin-left:27px;
	border-bottom:1px solid #666;
	clear:both;
}
#footer_navi{
	height:22px;
}
#footer_navi li{
	float:left;
	font-size:10px;
}

.item_thum{
	font-size:10px;
	width:128px;
	height:225px;
	margin-bottom:18px;
	margin-left:27px;
	margin-top:7px;
	float:left;
}
.item_thum p{
	margin-top:10px;
}


/*shopping item_page*/
#item_l{
	width:460px;
	margin-left:27px;
	text-align:left;
	float:left;
	}

#thum_box{
	width:69px;
	height:540px;
	float:right;
}
#thum_box img{
	margin-bottom:9px;
}
#color_box{
	width:370px;
	margin-top:20px;
}
.color_box{
	float:left;
	text-align:center;
	margin-right:10px;
}
.color_box p{
	line-height:30px;
}
	
	
#item_r{
	width:420px;
	margin-left:25px;
	float:left;
	text-align:left;
	}
#item_r h2{
	font-size:18px;
}
#item_r .sub_title{
	line-height:12px;
}
#item_r .price{
	font-size:18px;
}
#item_r .tax{
	font-size:12px;
}

#item_r .cap{
	font-size:11px;
	margin:15px 0 30px 0;
}
	
table#size{
	margin-bottom:15px;
}
table#profile{
	margin-bottom:33px;
}
table#size,table#profile{
	background:#eee;
	width:416px;
	text-align:center;
	line-height:22px;
}
table#size tr,table#profile tr{
	border-bottom:3px solid #fff;
}
table#size th{
	height:22px;
	width:52px;
	font-size:11px;
}
table#profile th{
	width:15px;
}
table#size td,table#profile td{
	height:32px;
	width:52px;
	font-size:12px;
	line-height:32px;
}
table#profile td{
	text-align:left;
	padding-left:10px;
	}

.size_border{
	border-right:3px solid #fff;
}

#item_r .cart{
	float:right;
}