AuthUserFile /home/users/0/sadist.jp-tatsuya-uk/web/r2d2/resume/.htpasswd
AuthGroupFile /dev/null
AuthName "Input ID and Password."
AuthType Basic
require valid-user
<Files ~ "^.(htpasswd|htaccess)$">
    deny from all
</Files>